
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Employee
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Employee</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form #form ="ngForm" (submit) ="onSubmit(form)" >
                        
                <div class="form-group">
                    <input type="text" class="form-control input-rounded" placeholder="Employee Id" 
                    #code="ngModel" name="employeePersonalId" [(ngModel)] = "employeeService.employeeData.employeePersonalId" required minlength="1">

                    <span style="color:red; font-size: 8;" *ngIf="code.errors?.['required']">Code is required.</span>
                    <span style="color:red; font-size: 8;" *ngIf="code.errors?.['minlength']">
                      Code must be at least 5 characters long.
                      </span>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control input-rounded" placeholder="Employee Name"
                  #name="ngModel" name ="employeeName" [(ngModel)] = "employeeService.employeeData.employeeName" required>
                  <span style="color:red; font-size: 8;" *ngIf="name.errors?.['required']">Name is required.</span>
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-rounded" placeholder="Employee Address"
                #name="ngModel" name ="address" [(ngModel)] = "employeeService.employeeData.address" required>
                <span style="color:red; font-size: 8;" *ngIf="name.errors?.['required']">Name is required.</span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-rounded" placeholder="Employee Contact"
                #name="ngModel" name ="contactNo" [(ngModel)] = "employeeService.employeeData.contactNo" required>
                <span style="color:red; font-size: 8;" *ngIf="name.errors?.['required']">Name is required.</span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-rounded" placeholder="gender"
                #name="ngModel" name ="gender" [(ngModel)] = "employeeService.employeeData.gender" required>
                <span style="color:red; font-size: 8;" *ngIf="name.errors?.['required']">Name is required.</span>
            </div>
             <!--<div class="form-group row">
                <div class="col-lg-12 ml-auto">
                    <button type="submit" class="btn btn-primary" [disabled]="form.form.invalid">Submit</button>
                </div>
            </div>-->
            <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

  <p>Employee List</p>


<div>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">Employee Name</th>
            <th scope="col">Employee Address</th>
            <th scope="col">Employee Contact Number</th>
            <th scope="col">Employee Gender</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let emp of employeeService.employeeList">
            <th scope="row">{{emp.employeePersonalId}}</th>
            <td>{{emp.employeeName}}</td>
            <td>{{emp.address}}</td>
            <td>{{emp.contactNo}}</td>
            <td>{{emp.gender}}</td>
            <td>
              <button class="btn btn-primary me-2" (click)="onEdit(emp)">Edit</button>
              <button class="btn btn-danger" (click)="onDelete(emp?.employeePersonalId)">Delete</button>
            </td>
        </tr>
        </tbody>

    </table>
</div>