/* You can add global styles to this file, and also import other style files */
.logo {
    width: 40px;
  }
  
  .navbar {
    color: white;
  }
  
  #sidebar {
    min-height: 100vh;
  }
  
  .dropdown-toggle::after {
    margin-left: 10px;
  }
  